<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="noindex">

    <link th:if="${homepage == true}" rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
    <link th:if="${darkModeEnabled == false && homepage == false}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:if="${darkModeEnabled == true && homepage == false}" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" th:href="@{/CSS/Navigation-Clean.css}">
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  </head>
  <body th:fragment="header">
  <nav class="navbar navbar-dark navbar-expand-md navigation-clean">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="width: 30%;">
        <img class="img-fluid" src="/IMG/UsefulToolsNavBar.png" style="width: 70%;height: auto;">
      </a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul id="navbarLinks" class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation" th:unless="${userLoggedIn}">
            <a class="nav-link text-success" th:href="@{${loginLink}}">Login</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" th:href="@{${timeCalcLink}}">Time Calculator</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" th:href="@{${shiftFinderLink}}">Shift Finder</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" th:href="@{${deobfuscatorLink}}">De-Obfuscator</a>
          </li>
          <li class="nav-item" role="presentation" th:if="${userLoggedIn}">
            <a class="nav-link" th:href="@{${profileLink}}">Profile</a>
          </li>
          <li class="nav-item" role="presentation" th:if="${userLoggedIn}">
            <a class="nav-link text-danger" href="/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <script>
        var navbarLinks = document.getElementById("navbarLinks").getElementsByTagName("a");
        var pathName = window.location.pathname;

        for (var i = 0; i < navbarLinks.length; i++) {
          if (pathName !== "/" && navbarLinks[i].href.includes(pathName)) {
            navbarLinks[i].classList.add("active");
          }
        }
      </script>
  </body>
</html>