<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="yesNoModal(modalID,modalTitle,modalBody,smallModal,textcolor,yesGood)">
  <div class="modal fade" th:id="${modalID}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" th:classappend="${smallModal == true ? 'modal-sm' : 'modal-lg'}" role="document">
      <div class="modal-content text-center">
        <div class="modal-header d-block">
          <h4 th:id="${modalID + 'Title'}" class="modal-title" th:classappend="${textcolor}" th:text="${modalTitle}"></h4>
        </div>
        <div th:unless="${modalBody} == ''" class="modal-body">
          <div th:replace="${modalBody}"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" th:classappend="${yesGood == true ? 'btn-success' : 'btn-danger'}" data-dismiss="modal" th:id="${modalID + 'YesButton'}">Yes</button>
          <button type="button" class="btn" th:classappend="${yesGood == true ? 'btn-danger' : 'btn-success'}" data-dismiss="modal" th:id="${modalID + 'NoButton'}">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:fragment="fullyCustomModal(modalID,modalTitle,modalBody,smallModal,textcolor,centerText)">
  <div class="modal fade" th:id="${modalID == '' ? 'popupModal' : modalID}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" th:classappend="${smallModal} ? 'modal-sm' : 'modal-lg'" role="document">
      <div class="modal-content" th:classappend="${centerText} ? 'text-center' : ''">
        <div class="modal-header d-block">
          <h4 class="modal-title" th:classappend="${textcolor == '' ? '' : textcolor}" th:text="${modalTitle}"></h4>
        </div>
        <div th:unless="${modalBody} == ''" class="modal-body">
          <div th:replace="${modalBody}"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalClose">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:fragment="alreadyTakenModal(whatsTaken,smallModal)">
  <div th:replace="~{::updateFailedModal(${whatsTaken + ' because it&rsquo;s already in use.'},${smallModal})}"></div>
</div>

<div th:fragment="updateFailedModal(whatFailed,smallModal)">
  <div th:include="~{::fullyCustomModal('','Whoops! Something ain&rsquo;t right here.',~{::whatfailedtag(${whatFailed})},${smallModal},'text-danger',true)}"></div>
</div>

<div th:fragment="updateSucceededModal(whatPassed,smallModal)">
  <div th:include="~{::fullyCustomModal('','Success! Finally something went right.',~{::whatpassedtag(${whatPassed})},${smallModal},'text-success',true)}"></div>
</div>

<div th:fragment="alertModal(modalID,modalBody,smallModal)">
  <div th:include="~{::fullyCustomModal(${modalID},'Maybe take a second look?',${modalBody},${smallModal},'text-info',true)}"></div>
</div>

<div th:fragment="plainMessageModal(modalID,titleMessage,bodyMessage,smallModal)">
  <div th:replace="~{::fullyCustomModal(${modalID},${titleMessage},~{::plainModalBody(${bodyMessage})},${smallModal},'text-primary',true)}"></div>
</div>

<!--Section for fragments that are title and body-->
<p th:fragment="whatfailedtag(whatFailed)" th:text="${'Failed to update the ' + whatFailed}"></p>

<p th:fragment="whatpassedtag(whatPassed)" th:text="${'Successfully updated the ' + whatPassed}"></p>

<p th:fragment="plainModalBody(message)" th:text="${message}"></p>

</html>

<!-- this was the old non-parameterized modal
<body th:fragment="modal">
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modalHeader">
        <h4 class="modal-title" id="modalTitle"></h4>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
      <div class="modal-footer" id="modalFooter">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalClose">Close</button>
      </div>
    </div>
  </div>
</div>
</body>


-->

<!--
//Difference of th:insert, th:replace, and th:include
<footer th:fragment="copy">
  &copy; 2011 The Good Thymes Virtual Grocery
</footer>

<div th:insert="footer :: copy"></div>

<div th:replace="footer :: copy"></div>

<div th:include="footer :: copy"></div>

<div>
  <footer>
    &copy; 2011 The Good Thymes Virtual Grocery
  </footer>
</div>

<footer>
  &copy; 2011 The Good Thymes Virtual Grocery
</footer>

<div>
  &copy; 2011 The Good Thymes Virtual Grocery
</div>
-->

<!--
code to include this fragment
<div th:if="${param.logout}" th:include="fragments/modal :: fullyCustomModal(~{::#inputTitle}, ~{::#inputBody}, false, 'text-primary')">
  <p id="inputTitle">Enter modal title here</p>
  <p id="inputBody">Enter modal body here</p>
</div>

button to trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupModal">
  Launch demo modal
</button>

javascript to adjust properties
$('#popupModal').modal({
  backdrop: bool or static
  keyboard: bool
  show: bool
})

show modal on page load
$(document).ready(function() {
    $('#popupModal').modal('show');
});

show modal without property adjustment
$('#popupModal').modal('show')

https://getbootstrap.com/docs/4.0/components/modal/

code to allow you to insert html into the modal tags where necessary
document.getElementById("modalTitle").insertAdjacentHTML('afterbegin', "whatever");
https://developer.mozilla.org/en-US/docs/Web/API/Element/insertAdjacentHTML
-->