<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="decorator/layout">
    <head>
        <title>Useful Tools</title>
    </head>
<body>
    <div layout:fragment="content">
        <header class="masthead text-white text-center" th:style="'background: url(/IMG/bg-masthead.jpg) no-repeat center center;background-size:cover;'">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">Welcome to Garver's useful tools!<br>Please stay a while and enjoy </h1>
                        <img class="rounded-circle" th:src="@{/IMG/ron_swanson_hat.gif}" style="margin: 0;padding: 0px;width: 65%;">
                        <p th:text="${randomQuote}" style="font-size: 20px;"></p>
                    </div>
                </div>
            </div>
        </header>
        <section class="features-icons bg-light text-center">
            <div class="card d-inline-flex features-icons-item">
                <div class="d-flex features-icons-icon">
                    <i class="icon-clock m-auto text-primary"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Time Calc.</h4>
                    <p class="card-text">Livin La Vida Loca and need the OT? Don't want to get canned for being under hours? Well this is the tool for you!</p>
                    <a class="card-link btn btn-primary stretched-link" th:href="@{${timeCalcLink}}">Get That Bread!</a>
                </div>
            </div>
            <div class="card d-inline-flex features-icons-item">
                <div class="d-flex features-icons-icon">
                    <i class="icon-calendar m-auto text-primary"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Shift Finder</h4>
                    <p class="card-text">Sweet trip to the Caribbean and need to know your work schedule? Check it out here.</p>
                    <a class="card-link btn btn-primary stretched-link" th:href="@{${shiftFinderLink}}">See What's Workin!</a>
                </div>
            </div>
            <div class="card d-inline-flex features-icons-item">
                <div class="d-flex features-icons-icon">
                    <i class="icon-eyeglass m-auto text-primary"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">De-Obfuscator</h4>
                    <p class="card-text">Ever wondered if that character is an O or 0, an l or 1, an i or l? Well wonder no more! This will solve all those problems.</p>
                    <a class="card-link btn btn-primary stretched-link" th:href="@{${deobfuscatorLink}}">De-Obfuscate me bro!</a>
                </div>
            </div>
        </section>
        <section class="testimonials text-center bg-light" th:style="'background-image: url(/IMG/bg-masthead.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;'">
            <div class="container">
                <h2 class="mb-5">What people are saying...</h2>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3" th:src="@{/IMG/huffman.jpg}">
                            <h5>Matt H.</h5>
                            <p class="font-weight-light mb-0" style="color: rgb(255,255,255);">"This site gave me and my brother AIDS, Thanks."</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3" th:src="@{/IMG/testimonials-1.jpg}">
                            <h5>Margaret E.</h5>
                            <p class="font-weight-light mb-0" style="color: rgb(255,255,255);">"This is fantastic! Thanks so much!"</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3" th:src="@{/IMG/testimonials-2.jpg}">
                            <h5>Fred S.</h5>
                            <p class="font-weight-light mb-0" style="color: rgb(255,255,255);">"That Brett Garver is one hell of a guy! He knows how to make some useful tools!"</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                            <img class="rounded-circle img-fluid mb-3" th:src="@{/IMG/testimonials-3.jpg}">
                            <h5>Sarah W.</h5>
                            <p class="font-weight-light mb-0" style="color: rgb(255,255,255);">"Thanks so much for
                                making these free resources available to us!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:if="${param.logout}" th:include="fragments/modal :: plainMessageModal('','You have been successfully logged out.','',false)"></div>

        <div th:if="${param.forgotpass}" th:include="fragments/modal :: plainMessageModal('','Please check your inbox for a password reset email.','',false)"></div>

        <script>
            //If a modal exists, this will cause it to display on page load.
            $(document).ready(function () {
                $('#popupModal').modal('show');
            });
        </script>
    </div>
</body>
</html>