<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/layout">
<head>
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/CSS/CustomSwitchSizes.css}" type="text/css">
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h3 class="text-dark mb-4">Profile</h3>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Email</p>
                </div>
                <div class="card-body">
                    <form id="emailUpdateForm" action="#" th:action="@{/profile/updateemail}" th:object="${userInformation}" method="post">
                        <div class="form-group">
                            <label for="currentemail"><strong>Current Email</strong><br /></label>
                            <input type="email" class="form-control" placeholder="user@example.com" id="currentemail" readonly th:value="*{currentEmail}" />
                        </div>
                        <div class="form-group" id="divEmail">
                            <label for="newemail"><strong>New Email</strong></label>
                            <input type="email" class="form-control" placeholder="newemail@domain.com" id="newemail" oninput="emailValidation(this.value)" th:field="*{newEmail}"/>
                            <div id="divFeedbackEmail" class="invalid-feedback"></div>
                        </div>
                        <div id="emailUpdateButton" class="form-group">
                            <button class="btn btn-primary btn-sm" type="button" onclick="updateEmail()">Update Email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Name</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form action="#" th:action="@{/profile/updatename}" th:object="${userInformation}" method="post">
                                <div class="form-group">
                                    <label for="firstname"><strong>First Name</strong></label>
                                    <input type="text" class="form-control" placeholder="Ron" id="firstname" th:field="*{firstName}" />
                                </div>
                                <div class="form-group">
                                    <label for="lastname"><strong>Last Name</strong></label>
                                    <input type="text" class="form-control" placeholder="Swanson" id="lastname" th:field="*{lastName}"/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="submit" >Update Name</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Change Password</p>
                </div>
                <div class="card-body">
                    <form id="passResetForm" action="#" th:action="@{/profile/changepassword}" th:object="${changePasswordInput}" method="post">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group" id="divOldPass">
                                    <label for="oldpass"><strong>Old Password</strong><br /></label>
                                    <input type="password" class="form-control" id="oldpass" placeholder="Old Password" th:field="*{oldPassword}"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group" id="divNewPass">
                                    <label for="newpass"><strong>New Password</strong><br /></label>
                                    <input type="password" class="form-control" id="newpass" placeholder="New Password" th:field="*{newPassword1}"/>
                                    <div id="divNewPassFeedback" class="invalid-feedback"></div>
                                </div>
                                <div class="form-group" id="divRepeatPass">
                                    <label for="repeatpass"><strong>Repeat Password</strong><br /></label>
                                    <input type="password" class="form-control" id="repeatpass" placeholder="Repeat Password" th:field="*{newPassword2}" oninput="activePasswordValidation()"/>
                                    <div id="divRepeatPassFeedback" class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="button" onclick="passwordUpdate()">Change Password</button>
                        </div>
                        <div class="form-row" th:if="${param.passnotvalid}">
                            <p th:include="~{fragments/passwordrequirements :: passwordrequirements}"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Dark Mode</p>
                </div>
                <div class="card-body">
                    <div class="custom-control custom-switch custom-switch-lg">
                        <input type="checkbox" id="customSwitch6" class="custom-control-input" name="customSwitch6" onclick="updateDarkMode()"/>
                        <label class="custom-control-label" for="customSwitch6">Dark Mode<br /></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Delete account</p>
                </div>
                <div class="card-body text-center">
                    <form>
                        <div class="form-group">
                            <button class="btn btn-danger btn-lg" type="button" onclick="document.getElementById('removeProfileConfirmationYesButton').disabled = true;$('#removeProfileConfirmation').modal('show');">Delete Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/modal :: fullyCustomModal('emailTaken','The email provided has already been taken.',~{::#emailTakenBody},false,'text-warning',true)">
        <p id="emailTakenBody">If you're seeing this message. There is already an account with this email address<br>
            <br>
            This probably nothing to worry about, however you might consider changing your password.</p>
    </div>

    <div th:include="fragments/modal :: fullyCustomModal('emailInvalid','The email provided is invalid.',~{::#emailInvalidBody},false,'text-warning',true)">
        <p id="emailInvalidBody">temp</p>
    </div>

    <div th:include="fragments/modal :: fullyCustomModal('passSame','The new password matches the old one.',~{::#passSameBody},false,'text-warning',true)">
        <p id="passSameBody">Please update the new passwords to be different than the old one.</p>
    </div>

    <div th:include="fragments/modal :: fullyCustomModal('passDoesntMatch','The new and repeat passwords don&rsquo;t match.',~{::#passDoesntMatchBody},false,'text-warning',true)">
        <p id="passDoesntMatchBody">Please retype the new and repeat passwords again so they match.

            This is indicated by the green confirmation message.</p>
    </div>

    <div th:if="${param.nameupdated}" th:include="fragments/modal :: updateSucceededModal('First and Last name',false)"></div>

    <div th:if="${param.passwordupdated}" th:include="fragments/modal :: updateSucceededModal('password',false)"></div>

    <div th:if="${param.passnotvalid}" th:include="fragments/modal :: updateFailedModal('password. New password doesn\'t meet the requirements.',false)"></div>

    <div th:if="${param.oldpassincorrect}" th:include="fragments/modal :: updateFailedModal('password. Current password is incorrect.',false)"></div>

    <div th:include="fragments/modal :: yesNoModal('emailConfirmation',~{::#emailConfirmTitle},~{::#emailConfirmBody},false,'text-info',true)">
        <p id="emailConfirmTitle">Change email to </p>
        <p id="emailConfirmBody">By updating your email to ABCEMAILABC, this will log you out of the system.<br>
            <br>
            Are you sure you want to continue?</p>
    </div>

    <div th:include="fragments/modal :: yesNoModal('removeProfileConfirmation',~{::#profileRemoveTitle},~{::#profileRemoveBody},false,'text-danger',false)">
        <p id="profileRemoveTitle">LET'S JUST TAKE A BREATH!</p>
        <p id="profileRemoveBody">I have to say I'm quite sad to see that you would like to remove your profile.<br>
            <br>
            If you would really like to remove your profile, please do the following<br>
            <br>
            Type "remove my profile" in the box below and then press the red yes button to confirm.<br>
            <input type="text" placeholder="remove my profile" oninput="if (this.value.toLowerCase() === 'remove my profile') document.getElementById('removeProfileConfirmationYesButton').disabled = false">
        </p>
    </div>

    <script th:src="@{/JS/EmailValidation.js}"></script>
    <script th:src="@{/JS/PasswordValidation.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var darkModeEnabled = /*[[${darkModeEnabled}]]*/ 'default';

        var loadingButton = "<button class=\"btn btn-primary\" type=\"button\" disabled><span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...</button>";

        var defaultEmailButton = "<button class=\"btn btn-primary btn-sm\" type=\"button\" onclick=\"updateEmail()\">Update Email</button>";

        $(document).ready(function() {
            $('#popupModal').modal('show');

            var darkModeSwitch = document.getElementById('customSwitch6');
            if (darkModeEnabled) {
                darkModeSwitch.checked = true;
                darkModeSwitch.setAttribute("checked", "checked");
            } else {
                darkModeSwitch.checked = false;
                darkModeSwitch.removeAttribute("checked");
            }
        });

        function passwordUpdate() {
            var oldPass = document.getElementById('oldpass').value;
            var newPass1 = document.getElementById('newpass').value;
            var newPass2 = document.getElementById('repeatpass').value;

            if (newPass1 === newPass2) {
                if (oldPass === newPass1) {
                    $('#passSame').modal('show');
                    return;
                }
                document.getElementById('passResetForm').submit();
                return;
            }
            $('#passDoesntMatch').modal('show');
        }

        function updateEmail() {
            var emailValidityResult = emailIsValid(document.getElementById("newemail").value);

            if (!emailValidityResult || document.getElementById("currentemail").value === document.getElementById("newemail").value)
            {
                if (!emailValidityResult) {
                    document.getElementById("emailInvalidBody").innerText = "Please ensure the formatting of the email is newemail@domain.com";
                } else {
                    $('#emailTaken').modal('show');
                    document.getElementById("emailInvalidBody").innerText = "The email provided is the same as the current email.";
                }
                $('#emailInvalid').modal('show');
                return;
            }

            document.getElementById("emailUpdateButton").innerHTML = loadingButton;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", window.location.href + "/updatedarkmode");
            xhr.send(!darkModeEnabled);

            xhr.onload = function() {
                if (xhr.status === 200) { // analyze HTTP status of the response
                    var modalTitle = document.getElementById('emailConfirmationTitle');
                    modalTitle.innerText = modalTitle.innerText + document.getElementById('newemail').value;

                    var modalbody = document.getElementById('emailConfirmBody');
                    modalbody.innerText = modalbody.innerText.replace('ABCEMAILABC', document.getElementById('newemail').value);

                    $('#emailConfirmation').modal('show');
                } else {

                    document.getElementById("emailUpdateButton").innerHTML = defaultEmailButton;
                }
            };


        }

        document.getElementById("emailConfirmationYesButton").addEventListener("click", function () {
            document.getElementById('emailUpdateForm').submit();
        });

        document.getElementById("emailConfirmationNoButton").addEventListener("click", function () {
            document.getElementById("emailUpdateButton").innerHTML = defaultEmailButton;
        });

        function updateDarkMode() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", window.location.href + "/updatedarkmode");
            xhr.send(!darkModeEnabled);

            xhr.onload = function() {
                if (xhr.status === 200) { // analyze HTTP status of the response
                    window.location.reload();
                }
            };
        }

        document.getElementById("removeProfileConfirmationYesButton").addEventListener("click", function () {
            window.location.href = window.location.href + "/deleteprofile"
        });

        /*]]>*/
    </script>
</div>
</body>
</html>