<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/layout">
<head>
    <title>Shift Selection</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col text-center" style="padding-top: 10px;padding-bottom: 10px;">
            <h2 th:text="${timeDate + ' CST'}"></h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col text-center">
            <h2 class="text-success">Please select the shift you're working this week</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form id="selectionForm" action="/shiftfinder/setcode" method="post">
                <input type="hidden" id="inputcurrentcode" name="currentcode">
                <div class="row" style="padding: 10px;">
                    <div class="col">
                        <button class="btn btn-primary btn-lg" type="button" id="1" onclick="changeShift(this.id)">Tuesday -
                            Saturday
                        </button>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col">
                        <button class="btn btn-primary btn-lg" type="button" id="2" onclick="changeShift(this.id)">Monday -
                            Friday
                        </button>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col">
                        <button class="btn btn-primary btn-lg" type="button" id="3" onclick="changeShift(this.id)">Sunday -
                            Thursday
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function changeShift(id) {

            document.getElementById("inputcurrentcode").value = id;
            document.getElementById("selectionForm").submit();
        }
        /*]]>*/
    </script>
</div>
</body>

</html>